<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
</head>
<body>
    <h1>Index View</h1>
    <span>New Recipe<a href="/add_recipe/">here</a></span>
    <span>New Author<a href="/add_author/">here</a></span>
    <br>
    {% if request.user.is_authenticated %}
        <span>you are currently logged in. Logout <a href="/logout/">here</a></span>
    {% else %}
        <span>you are not currently logged in. Login <a href="/login/">here</a></span>
    {% endif %}

    <ul>
        {% for item in recipe_data %}
        <li style="padding:20px">
            <span><a href="/recipe/{{item.id}}/">{{ item.title }}</a></span>
            <br>
            <!-- <span>created by: {{ item.author }} -->
                <!-- <a href="/author/{{item.author.id}}/"></a> -->
            <!-- </span> -->
        </li>
        {% endfor %}
    </ul>
</body>
</html>