<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box | {{recipe.title}}</title>
</head>
<body>
    <h1>Recipe View</h1>
    {{ recipe.title }}
    <br>
    {{ recipe.description }}
    <br>
    {{ recipe.instructions }}
    <br>
    {{ recipe.time_required }}
    <br>
    <a href="/edit/{{recipe.id}}">Edit Recipe</a>
    <br>
    <a href="/author/{{recipe.author.id}}">{{ recipe.author }}</a>
    <br>
    {% if request.user.is_authenticated %}
        {% if recipes in request.user.author.favorites.all %}
            <a href="/remove_favorite/{{recipe.id}}">Remove From Favorites</a>
        {% else %}
            <a href="/add_favorite/{{recipe.id}}">Add to Favorites</a>
        {% endif %}
    {% endif %}
    <br>
    <span>go <a href="/">home</a></span>
</body>
</html>